* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus,
.container {
    color: #FFFFFF;
}

.container {
    font-family: Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
    background-color: #E5E000;
    max-width: 1440px;
    margin: 0 auto;
}

.container h1 {
    padding: 70px 0;
    font-size: 50px;
    padding-left: 80px;
}

.banner {
    content: '';
    background-image: url(../images/img.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    display: block;
    width: 1440px;
    height: 1080px;
}

.breadcrums {
    padding: 35px 80px;
    font-size: 25px;
    text-transform: uppercase;
}

.content {
    background-color: #fff;
    color: #000;
    font-size: 50px;
    font-weight: 200;
}

.content h2 {
    padding: 119px 0 70px 80px;
}

.content p {
    padding-left: 80px;
    padding-bottom: 70px;
    max-width: 1196px;
}

.content p:last-child {
    padding-bottom: 88px;
}

.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo,
.slogan {
    margin: 0 80px;
}

.slogan {
    font-size: 50px;
}