* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header,
.footer {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #FE1A19;
}

.header span,
.footer span {
    display: block;
    padding: 20px;
    font-weight: bold;
    color: #fff;
}

.content {
    display: flex;
    justify-content:center;
    padding: 50px 0;
    gap: 25px;
}

.recipes {
    padding: 33px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: 5px solid #E5E000;
    border-radius: 30px;
    display: block;
    width: 400px;
}

.recipes h2 {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 33px;
}

.recipes ul {
    list-style: none;
    margin-bottom: 33px;
}

.recipes ul:last-child {
    margin-bottom: 33px;
}

.recipes span {
    margin-bottom: 33px;
    text-transform: uppercase;
}