* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #000;
    font-family: "Roboto", "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8BFC7;
    text-transform: uppercase;
    width: 100%;
    height: 90px;
    padding: 0 50px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    width: 100%;
    min-height: 643px;
    background-image: url(../images/background.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slogan {
    font-size: 50px;
    text-align: center;
    color: #FEB700;
    text-transform: uppercase;
    padding: 29px 0 113px 0;
    line-height: 53px;
}

header a {
    text-decoration: none;
    color: #000;
}

.menu-left ul {
    display: flex;
    list-style: none;
    gap: 38px;
}

main {
    background-color: #336FD1;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    color: #FFFFFF;
}

.form-main {
    background-color: #F8BFC7;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 300px;
    padding: 25px;
    margin-bottom: 10px;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: #F8BFC7;
    border: 0px;
    border-bottom: 1px solid #fff;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 15px;
}

.post-form {
    width: 300px;
    margin: 90px 90px 0 90px;
}

.form-row input::placeholder {
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.form-row label {
    color: #fff;
    text-align: left;
    margin-top: 7px;
}

.form-row button {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FEB700;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    margin: 0 auto;
  }

  .form-row:last-child {
    margin-bottom: 0;
  }
  
  .form-row button:hover {
    background-color: #DD9F00;
  }
  
  .form-row button:active {
    background-color: #eca900;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}

.form-row input[type='text'],
.form-row input[type="email"],
.form-row select,
.form-row textarea {
    width: 250px;
    height: initial;
    color: #fff;
}

@media only screen and (max-width: 700px) {

    header,
    footer {
        height: 90px;
        padding: 0 20px;
        flex-wrap: wrap;
    }
    
    .menu-left ul { 
        gap: 25px;
    }

    .post-form {
        margin: 0 auto;
    }

    .form-main {
        margin-top: 40px;
    }

}